@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rampart+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');

.App {
font-family: 'Rampart One', cursive;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: stretch;
align-items: center;
border-radius: 5px;
padding: 2vw 0;
margin: 0.5vw
}

.Countdown button {
  font-family: 'Oswald', sans-serif;
  background-color: royalblue;
  margin-left: 15px;
  height: 25px;
}

.Countdown {
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.InputPage * {
margin-left: 5px;
height: 25px;
}

.InputPage button {
  font-family: 'Oswald', sans-serif;
  background-color: royalblue;
  margin-left: 15px;
  }

.CoutdownComponent{
  border: 1px solid black;
  padding: 15px;
  margin-top: 10px;
}

.Plus-button{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 4vw;
  border-radius: 50%;
  background-color: royalblue;
  height: 5vw;
  width: 5vw;
  margin-top: 20px;
}